$primary-color: #1b262c;
$secondary-color: #0f4c75;
$secondary-color-ligth: #3282b8;
$text-color: #bbe1fa;
$fs-lg: 1.5em;
$fs-md: 1.3em;
$fs-nr: 1.1em;
$fs-sm: 0.6em;
$mfs-lg: 2.3em;
$mfs-md: 2em;
$mfs-nr: 1.7em;
$mfs-sm: 1.4em;
$m: 8px;
$mb: 16px;
$pc: 16px;
$wcategory: 20%;
$wsection: 15%;
$wcontent: 65%;
$bradius: 6px;
