@use "vars";

.Categories {
    position: fixed;
    left: 0;
    min-width: 250px;
    width: vars.$wcategory;
    margin-top: vars.$mb;
    padding: vars.$pc;
    box-sizing: border-box;
}
.Categories__title {
    font-size: vars.$fs-lg;
    color: vars.$secondary-color-ligth;
}
@keyframes hideLeft {
    from {
        left: 0;
    }
    to {
        left: calc(0vw - calc(vars.$wcategory * 2));
    }
}
@media screen and (max-width: 1080px) {
    .Categories {
        animation-name: hideLeft;
        animation-duration: vars.$aDuration;
        animation-fill-mode: forwards;
    }
}
