@use "vars";

.Category {
    margin-top: calc(vars.$mb / 2);
}
.Category__title {
    padding: calc(vars.$m / 2) vars.$m;
    font-size: vars.$fs-md;
    color: vars.$secondary-color-ligth;
    border-radius: vars.$bradius;
}
.Category__title:hover {
    background: linear-gradient(
        to left,
        vars.$secondary-color,
        vars.$primary-color
    );
    color: vars.$text-color;
    cursor: pointer;
}
.Category--active {
    background: linear-gradient(
        to left,
        vars.$secondary-color,
        vars.$primary-color
    );
    color: vars.$text-color;
}
