@use "vars";

.MobileMenu {
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    justify-content: flex-end;
    background-color: vars.$primary-color;
    animation-name: showMenu;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    box-sizing: border-box;
    z-index: 1;
}
.MobileMenu__close {
    position: absolute;
    display: grid;
    top: vars.$mb;
    right: vars.$mb;
    width: 48px;
    height: 48px;
    place-content: center;
    font-size: vars.$mfs-lg;
    background-color: vars.$secondary-color;
    border-radius: vars.$bradius;
    z-index: 10;
}
.MobileMenu__items {
    list-style: none;
    margin: calc(vars.$mb * 4) vars.$mb vars.$mb;
    padding: calc(vars.$mb * 2) 0;
}
.MobileMenu .Menu__item {
    font-size: vars.$mfs-md;
}
.MobileMenu .Menu__item a {
    display: block;
    margin-bottom: vars.$m;
    padding: vars.$m vars.$pc;
    text-align: end;
    text-decoration: none;
    color: vars.$text-color;
    border-radius: vars.$bradius;
}
.MobileMenu .Menu__item--active a {
    background: linear-gradient(
        to left,
        vars.$secondary-color,
        vars.$primary-color
    );
    color: vars.$text-color;
}
@keyframes showMenu {
    from {
        right: -100vw;
        top: -100vh;
    }
    to {
        top: 0;
        right: 0;
    }
}
@keyframes hideMenu {
    from {
        top: 0;
        right: 0;
    }
    to {
        right: -100vw;
        top: -100vh;
    }
}
