@use "vars";

.PostSections {
    position: fixed;
    right: 0;
    width: vars.$wsection;
    margin-top: vars.$mb;
    padding: vars.$pc 0 vars.$pc;
    color: vars.$text-color;
    box-sizing: border-box;
}
.PostSections__title {
    font-size: vars.$fs-md;
}
.PostSections__items {
    list-style: none;
    padding: 0 vars.$pc 0;
}
.PostSections__item a {
    display: block;
    padding: calc(vars.$m / 2);
    font-size: vars.$fs-nr;
    text-decoration: none;
    color: vars.$text-color;
}
.PostSections__item a:hover {
    color: vars.$secondary-color-ligth;
}
@keyframes hideRight {
    from {
        right: 0;
    }
    to {
        right: calc(0vw - vars.$wsection);
    }
}
@media screen and (max-width: 1280px) {
    .PostSections {
        animation-name: hideRight;
        animation-duration: vars.$aDuration;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }
}
