@use "vars";

.PostContent {
    width: vars.$wcontent;
    margin-left: vars.$wcategory;
    margin-top: vars.$mb;
    padding: 0 vars.$pc;
    color: vars.$text-color;
    box-sizing: border-box;
}
.PostContent section {
    margin-bottom: calc(vars.$mb * 2);
}
.PostContent__title {
    margin-bottom: calc(vars.$mb * 3);
}
.PostContent__subtitle {
    font-size: vars.$fs-md;
    font-weight: bold;
}
.PostContent__text {
    font-size: vars.$fs-nr;
    line-height: vars.$fs-md;
    letter-spacing: 1px;
    vertical-align: baseline;
}
@keyframes plusWidth {
    from {
        width: vars.$wcontent;
    }
    to {
        width: calc(vars.$fullWidth - vars.$wcategory);
    }
}
@media screen and (max-width: 1280px) {
    .PostContent {
        animation-name: plusWidth;
        animation-duration: vars.$aDuration;
        animation-fill-mode: forwards;
    }
}
@media screen and (max-width: 1080px) {
    .PostContent {
        margin: 0 auto;
        padding-top: vars.$pc;
    }
}
